.feedback {
  background: url("../../dist/img/testmonials-bg 2.png") no-repeat center;
  background-size: cover;
  padding-top: 108px;
  padding-bottom: 19px;

  &__title {
    @include text(48px, 700, $text-color, 50px, "Montserrat");
    text-align: center;
    margin-bottom: 75px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 115px 0;
    margin-bottom: 115px;
  }

  &__list-item {
    width: 27.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__item-text {
    @include text($def-size, 700, $text-color, 24px, "Lato");
    font-style: italic;
    margin-top: 33px;
  }

  &__subtext {
    @include text($description-size, 400, #A291A5, 21px, "Lato");
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .feedback {
    padding-top: 86px;

    &__title {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 85px;
    }

    &__list {
      justify-content: space-around;
      gap: 54px 0;
      margin-bottom: 58px;
    }

    &__list-item {
      width: 33.5%;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feedback {
    padding-top: 57px;
    padding-bottom: 22px;

    &__title {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 53px;
    }

    &__list {
      justify-content: space-around;
      gap: 45px 0;
      margin-bottom: 30px;
    }

    &__list-item {
      width: 100%;
    }
  }
}